<h1>You found the route view... good for you.</h1>

<!-- <h1><%= moment("/Date(1561273200000-0700)/") %></h1> -->

<form method="POST" action="/preferences/addJourneys">

  <select id="journeyData" name="journeyData">
    <% journs.forEach(j => { %>
        <option value='{"journeyId": <%= j.JourneyID %>, "departingTerminalId": <%= j.TerminalTimes[0].TerminalID %>, "departingTime": "<%= j.TerminalTimes[0].Time %>"}'><%= moment(j.TerminalTimes[0].Time).format("hh:mm A") %></option>
    <% }) %>
  </select> 

  <button type="SUBMIT">Watch Journey</button>
</form>

