<h3>Hello, Routes.</h3>
<h6>Find your favorite routes, click it to add to your watch list.</h6>

<div class="input-field col s12">
  <select id="weekPart" name="weekPart">
    <option value="All" selected>All Schedules</option>
    <option value="Daily">Daily Schedules</option>
    <option value="Monday through Friday">Monday through Friday Schedules</option>
    <option value="Sunday">Saturday, Sunday, and Holidays Schedules</option>
  </select>
</div>

 <div style="width:100%">
  <table id="sailings" class="display" style="width:100%">
    <thead>
      <tr>
        <th>Route</th>
        <th>Departing Terminal</th>
        <th>Days of Week</th>
        <th>Departure Time</th>
        <th>Vessel Name</th>
        <th>ScheduleID</th>
        <th>SchedRouteID</th>
        <th>JourneyID</th>
        <th>RouteID</th>
        <th>TerminalID</th>
      </tr>
    </thead>
    <tbody>

    </tbody>
    <tfoot>      
      <tr>
        <th>Route</th>
        <th>Departing Terminal</th>
        <th>Days of Week</th>
        <th>Departure Time</th>
        <th>Vessel Name</th>
        <th>ScheduleID</th>
        <th>SchedRouteID</th>
        <th>JourneyID</th>
        <th>RouteID</th>
        <th>TerminalID</th>
      </tr>
    </tfoot>
  </table>
</div>


<script>
  let data = [
    <% sailings.forEach(s => { %>
      <% s.Journs.forEach(j => { %>
        <% j.TerminalTimes.forEach(t => { %>
          [
            '<%= s.Description %>',
            '<%= t.TerminalDescription %>',
            '<%= s.DayOpDescription %>',
            '<%= moment(t.Time).format("hh:mm A") %>',
            '<%= j.VesselName %>',
            '<%= s.ScheduleID %>', 
            '<%= s.SchedRouteID %>', 
            '<%= j.JourneyID %>',
            '<%= s.RouteID %>',      
            '<%= t.TerminalID %>',           
          ],
        <% }) %>
      <% }) %>
    <% }) %>
  ]
</script>




