<% if (customer.firstname) { %>
<h2>Hi, <%= customer.firstname %></h2>
<% } else { %>
<h2>Hi, <%= customer.email %></h2>
<% } %>

<!-- <body onload="getLocation()"></body> -->
<div>
  <button onclick="getLocation()">Find Nearest</button>
</div>
<p id="location" />
<hr />

<form method="POST" action="/profile/update">
  <label for="firstname">First Name</label>:
  <input id="firstname" type="text" name="firstname" value="<%= customer.firstname %>" placeholder="First Name">
  <button type="SUBMIT">Update Profile</button>
</form>
<hr />

<h2>Watch List</h2>
<h4>You will recieve update alerts for these routes.</h4>
<button onclick="window.location.href='/routes2'">Add Routes and Journeys to Your Alert List</button>

<div style="width:100%">
  <table id="watchedJourneys" class="display" style="width:100%">
    <thead>
      <tr>
        <th>ScheduleID</th>
        <th>SchedRouteID</th>
        <th>JourneyID</th>
        <th>Departing Terminal</th>
        <th>Days of Week</th>
        <th>Departure Time</th>
        <th>VesselName</th>
      </tr>
    </thead>
    <tbody>

    </tbody>
    <tfoot></tfoot>
  </table>
</div>

<script>
  let data = [
    <% watchedJourneys.forEach(j => { %>
      [
        '<%= j.ScheduleID %>', 
        '<%= j.SchedRouteID %>', 
        '<%= j.JourneyID %>',
        '<%= j.TerminalDescription %>',
        '<%= j.DayOpDescription %>',
        '<%= j.Time %>',
        '<%= j.VesselName %>'
      ],
    <% }) %>
  ]
</script>



<!-- 
<div id='map'></div>
<script>
  mapboxgl.accessToken = 'pk.eyJ1IjoiYmViLSIsImEiOiJjanpsbGpuZjMwd2ttM2JrNmtyNTVldGM0In0.Tmu9yv3-2cWJFxiq87xFPQ';
  var map = new mapboxgl.Map({
    container: 'map', // container id
    style: 'mapbox://styles/mapbox/streets-v11',
    center: [-96, 37.8], // starting position
    zoom: 3 // starting zoom
  });

  // Add geolocate control to the map.
  map.addControl(new mapboxgl.GeolocateControl({
    positionOptions: {
      enableHighAccuracy: true
    },
    trackUserLocation: true
  }));
</script> -->