<h1>Hello routes2.</h1>

<hr />
<div style="width:100%">
  <table id="sailings" class="display" style="width:100%">
    <thead>
      <tr>
        <th>ScheduleID</th>
        <th>SchedRouteID</th>
        <th>JourneyID</th>
        <th>Departing Terminal</th>
        <th>Days of Week</th>
        <th>Departure Time</th>
        <th>VesselName</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
        <select id="weekPart" name="weekPart">
            <option value="All" selected>All Weekly Schedules</option>
            <option value="Daily">Daily Schedules</option>
            <option value="Monday through Friday">Monday through Friday Schedules</option>
            <option value="Sunday">Saturday, Sunday, and Holidays Schedules</option>
        </select>
    </tbody>
    <tfoot></tfoot>
  </table>
</div>


<script>
  var data = [
    <% sailings.forEach(s => { %>
      <% s.Journs.forEach(j => { %>
        <% j.TerminalTimes.forEach(t => { %>
          [
            <%= s.ScheduleID %>, 
            <%= s.SchedRouteID %>, 
            <%= j.JourneyID %>,
            "<%= t.TerminalDescription %>",
            "<%= s.DayOpDescription %>",
            "<%= moment(t.Time).format('hh:mm A') %>",
            "<%= j.VesselName %>",
            ""
          ],
        <% }) %>
      <% }) %>
    <% }) %>
  ]
</script>




